* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  background-color: #e0f3ff;
  font-family: "Times New Roman", Times, serif;
}

.form-container-todo {
  background-color: #fff;
  width: 1000px;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.form-container-todo h2 {
  font-size: 1.5rem;
  padding: 0rem 0;
  text-align: center;
}

.form-container-todo form {
  margin: 0.5rem 0;
}
.form-control-todo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}
.form-control-todo div {
  width: 25rem;
  display: block;
  margin: 0.5rem 1rem;
}

.form-control-todo div input {
  width: 25rem;
  border: 1px solid #ddd;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  margin: 0.5rem 1rem;
}
.form-control-todo div span {
  margin: 0 1rem;
}

/* .form-control .icon{
    position: absolute;
    left: 05px;
    top: 10px;
    font-size: 1.5rem;
} */

form button {
  width: 20%;
  background: slateblue;
  outline: none;
  border: none;
  font-family: inherit;
  color: #fff;
  padding: 10px 0;
  font-size: 1.2rem;
  margin: 1rem 1rem 1rem;
}
.buttonstyle {
  display: flex;
  justify-content: center;
}
/* .b1{
    width: 20%;
    background: slateblue;
    outline: none;
    border: none;
    font-family: inherit;
    color: #fff;
    padding: 10px 0;
    margin-top: 1rem;
    font-size: 1.2rem;
} */
form button:active {
  transform: scale(0.98);
}
.container-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 1vh; */
  background-color: #e0f3ff;
  font-family: "Times New Roman", Times, serif;
}
table {
    width: 60rem;
  border: 1px solid black;
}
tr {
  display: flex;
}
th,
td {
  width: 9rem;
  border: 1px solid black;
  margin: 0.2rem;
  padding: 0.5rem 2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container-table h2 {
  padding: 1.5rem 0;
  text-align: center;
}
.danger{
    background-color: red;
    font-style: white;
    padding: 5px;
    border-radius: 20px;
}
.edit{
    font-style: white;
    padding: 5px;
    border-radius: 20px;
}