* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  background-color: #e0f3ff;
  font-family: "Times New Roman", Times, serif;
}

.form-container-profile {
  background-color: #fff;
  width: 450px;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.form-container-profile h2 {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
}

.form-container-profile form {
  margin: 0.5rem 0;
}
.form-control-profile {
  position: relative;
}
.form-control-profile input {
  width: 100%;
  border: 1px solid #ddd;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.form-control-profile .icon {
  position: absolute;
  left: 05px;
  top: 10px;
  font-size: 1.5rem;
}
/* .form-control .icon1{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
    
} */
form button {
  width: 100%;
  background: slateblue;
  outline: none;
  border: none;
  font-family: inherit;
  color: #fff;
  margin: 10px 0;
  padding: 10px 0;
  /* margin-top: 0.5rem; */
  font-size: 1.2rem;
}
.buttonstyle {
  display: flex;
  justify-content: center;
}
form span {
  color: red;
}
form button:active {
  transform: scale(0.98);
}
/* p{
    text-align: center;
} */

button {
  width: 100%;
  background: slateblue;
  outline: none;
  border: none;
  font-family: inherit;
  color: #fff;
  margin: 10px 0;
  padding: 10px 0;
  /* margin-top: 0.5rem; */
  font-size: 1.2rem;
}
.button-close {
  display: flex;
  justify-content: center;
}

.button-close {
  width: 99%;
  background: slateblue;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  font-family: inherit;
  color: #fff;
  padding: 10px 0;
  margin-top: 1rem;
  font-size: 1.2rem;
  /* background-color: transparent; */
}
